body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('imagens/mapa-fundo.png');
    background-size: cover;
}

.lilita-one-regular {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.titulo {
    font-family: "Lilita One", sans-serif;
    margin-top: 0px;
    color: #e29d8a;
    font-size: 30px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    align-items: center;
}

.voltar {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
}

.voltar img {
    width: 50px;
    height: 50px;
}

.voltar:hover {
    transform: scale(1.1);
}

.mapa {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-image {
    height: auto;
    max-width: 100%;
}

.botao-mapa {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
}

.botao-mapa img {
    width: 100px;
    height: 100px;
}

.botao-mapa:hover {
    transform: scale(1.1);
}

/* Botao Selecionar */
.botao-selecionar {
    display: block;
    width: 150px;
    height: 70px;
    padding: 15px;
    margin: 10px auto;
    font-size: 24px;
    cursor: pointer;
    background-color: #e0aa9b;
    border: none;
    border-radius: 15px;
    transition: background-color 0.3s;
    font-family: "Lilita One";
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.botao-selecionar:hover {
    background-color: #d18b7a;
}

.selecionar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
